@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

body {
    margin: 0;
    font-family: 'Comfortaa', cursive;
}

.subscribe {
    background-color: #00acee;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main>article>a {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 265px;
    height: 353px;

    animation-name: backInLeft;
    animation-duration: 1000ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-play-state: running;
}

span {
    color: white;
    font-size: 28px;
    font-weight: 600;
}

input {
    font-family: 'Comfortaa', cursive;
    color: #00acee;
    font-weight: 600;
}

input:focus {
    background-color: #e3f1fc;
}

.subscribeP {
    color: #e3f1fc;
}

/*  шапка  */

header {
    display: flex;
    padding: 20px;
}

.logo {
    max-width: 300px;
    max-height: 62px;
    transition: transform 1s;
    color: lightpink;
}

.logo:hover {


    animation-name: jello;
    animation-duration: 1000ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-play-state: running;
}

a {
    color: black;
    text-decoration: none;
}

nav {
    margin-right: 10%;
    font-size: 24px;
}

.button:hover {
    transform: scale(1.1);
}

.button {
    background-color: #FF0000;
    border-radius: 12px;
    padding: 9px 72px;
    font-size: 20px;
    border: 0px;
    transition-duration: 300ms;
    transition-delay: 1s;
}

ul {
    display: flex;
}

li {
    list-style: none;
    margin-right: 20px;
}

.menu {
    text-decoration: none;
    color: lightpink;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    padding: 10px;
    min-height: 68vh;
    box-sizing: border-box;
}

.line {
    width: 55%;
    height: 2px;
    background-color: #00acee;
}

article {
    width: 100%;
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

.vraper_img {
    overflow: hidden;

}

.card {
    width: 20%;
    overflow: hidden;


    animation-name: backInUp;
    animation-duration: 1000ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-play-state: running;
}

.img {
    width: 100%;
    transition: transform 2s;
}

.img:hover {
    transform: scale(1.2);
}

.reclama {
    width: 600px;
}

.text {
    background-color: #00acee;
    color: white;
    max-width: 100%;
    padding: 15px;
}

.text:first-letter {
    font-size: 24px;
    color: #ff5311;
}

footer {
    background-color: rgb(233, 233, 233);
    color: #777777;
    padding-top: 50px;
    padding-bottom: 20px;
}

.group {
    display: flex;
    justify-content: space-evenly;
}

.footerA1 {
    color: #ff5311;
    text-decoration: none;
    font-weight: 900;
}

.footerA {
    color: #00acee;
    text-decoration: none;
    font-weight: 900;
}

.footerP {
    margin-left: 30px;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .card {
        width: 30%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    input {
        max-width: 100px;
    }

    main {
        min-height: 68vh;
    }

    .card {
        width: 30%;
    }
}

@media (max-width: 767px) {
    span {
        font-size: 20px;
    }

    input {
        max-width: 100px;
    }

    header,
    article {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 50%;
        padding-bottom: 10px;
    }
}

@media (max-width: 480px) {
    header {
        flex-direction: column;
    }

    nav {
        margin-right: 0;
    }

    li {
        margin-right: 5px;
    }

    .card {
        width: 70%;
    }

    .group {
        flex-direction: column;
        padding-left: 5px;
    }
}

.logo {
    width: 20%;
    height: auto;
    object-fit: contain;
    transition: transform 1s;
    animation: wobble 2s 1;
}